@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{

      @apply box-border m-0 p-0;
  }
  a{
    @apply cursor-pointer;
  }
}
@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Ultralight.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}


@layer components {
  .text-gradiant-green {
    @apply bg-gradient-to-b bg-clip-text text-transparent;
    background-image: linear-gradient(to bottom, #5EFB7E, #ADFA3C);
  }
  .btn-green {
    @apply px-6 py-4 xs:py-[10px] xs:px-[12px]
    sm:py-[10px] sm:px-[12px]  font-bold border rounded-xl border-perrotGreen bg-darkGreen leading-3 ;
  }
  .btn-black {
    @apply bg-black text-white rounded-xl leading-3  text-base font-semibold py-4 px-6 xs:py-[10px] xs:px-[12px] sm:py-[10px] sm:px-[12px] ;
  }
 
}
